## Words

In [3]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

**Print every word in upper case**

In [7]:
# your code here
for word in words:
    print(word.upper())

PLAY
FILLING
BAR
THEATRE
EASYGOING
DATE
LEAD
THAT
STORY
ISLAND

**Create a new list containing only words with 5 or more letters**

In [35]:
# your code here
words_2 = words[0:5]
words_2

['play', 'filling', 'bar', 'theatre', 'easygoing']

**Print the first word starting with "t"**

In [47]:
# your code here
for word in words:
    if word.startswith("t"):
        print(word)
        break

theatre

## Numbers

**Create a list containing the square of every number from 1 to 10**

In [59]:
# your code here

square = [i**2 for i in range(1, 10)]
square

[1, 4, 9, 16, 25, 36, 49, 64, 81]

**Print a list containing the square of every odd number from 1 to 10**

In [71]:
# your code here
square_odd = [i**2 for i in range(1, 10) if i % 2 ==0]
square_odd

[4, 16, 36, 64]

**Create a list with the squares of all multiples of 8 below 1000**

In [113]:
# your code here
square_mult8 = [i**2 for i in range(1, 100,8) if i < 33]
square_mult8

[1, 81, 289, 625]

## People

In [121]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2 
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**How many people are there?**

In [123]:
# your code here
len(people)

5

**How many people have kids**?

In [143]:
# your code here
people_with_kids = sum(1 for person in people if person["n_kids"] > 0)
print(f" the number of people that have kid is {people_with_kids}")

 the number of people that have kid is 4

**How many kids do they have in total?**

In [151]:
# your code here
total_kids =sum(person["n_kids"] for person in people)
total_kids

10

**In a year's time, names ending with "a" will have an extra kid. Create a list of dictionaries with people's info in a year's time**

In [157]:
# your code here
kids_next_year = [
    {
        "name": person["name"],
        "age": person["age"],
        "n_kids": person["n_kids"] + (1 if person["name"].endswith("a") else 0)
    }
    for person in people
]
print(kids_next_year)

[{'name': 'Juan', 'age': 34, 'n_kids': 2}, {'name': 'Pepe', 'age': 27, 'n_kids': 0}, {'name': 'Sonia', 'age': 41, 'n_kids': 2}, {'name': 'Lucía', 'age': 22, 'n_kids': 3}, {'name': 'Leo', 'age': 55, 'n_kids': 5}]